{% extends "blog/layout.html" %}
{% block title %}
    <h2>?????</h2>
{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ post.title }}</title>
</head>
<body>
<h1>{{ post.title }}</h1>
{{ post.content | linebreaks }}

<hr>
<hr>
{% for comment in post.comment_set.all %}
    <p>{{ comment.message }} ---작성자 : {{ comment.author }}     -----작성 시간 : {{ comment.created_at }}</p>
    <br>



{% endfor %}
 <a href="{% url "blog:post_list" %}">목록으로</a>
</body>
</html>

{% endblock %}